-e ./spectre/external/face_alignment
-e ./spectre/external/face_detection
git+https://github.com/muelea/selfcontact.git
git+https://github.com/nghorbani/ViTPose.git
git+https://github.com/facebookresearch/pytorch3d.git
human-body-prior
importlib-resources
mediapipe
smplx
ultralytics
python-ffmpeg
networkx==2.5.1
pyrender==0.1.45
loguru==0.7.2
omegaconf==2.3.0
torch
torchvision
torchaudio
opencv-python-headless
gdown
kornia
scikit-learn
tqdm
trimesh
yacs
numpy
einops
configargparse
